<div class="wrapper">
    <div><img src="https://img.freepik.com/premium-photo/product-shots-apples-high-quality-4k-ultra-hd_670382-78001.jpg"></div>
    <div><img src="https://img.freepik.com/premium-photo/ultradetailed-photo-pineapple-fruits-falling-into-water-fine-forcose-hd-uhd-4k_986714-6851.jpg"></div>
    <div><img src="https://c1.wallpaperflare.com/preview/763/344/946/pea-pod-macro-vegetables.jpg"></div>
    <div><img src="https://img.freepik.com/premium-photo/vertical-fresh-red-onion-close-up-background-red-onion-closeup_189959-6068.jpg"></div>
    <div><img src="https://t4.ftcdn.net/jpg/01/68/20/25/360_F_168202520_D8r8ouEY4RAv7kFy9IQYYzQHZ6wfObUR.jpg"></div>
    <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO7B4KTlzeTDiRZEoxI6VUAQCX2Iru2JKRxw&s"></div>
    <div><img src="https://c4.wallpaperflare.com/wallpaper/262/47/603/greens-olives-olive-oil-herbs-wallpaper-preview.jpg"></div>
    <div><img src="https://media.istockphoto.com/id/513680834/photo/sweet-almond-oil-first-extraction-in-a-small-glass-jar.jpg?s=612x612&w=0&k=20&c=iSpItOKE2pwqCoXIby6Ncxgt0Q_ZxWV44Y8qvQFiXUk="></div>
    <div><img src="https://media.istockphoto.com/id/595334238/photo/natural-peanut-oil-in-a-glass-jar-close-up-horizontal.jpg?s=612x612&w=0&k=20&c=hk8D_S7UtXnf5v9vtypGR50FrtR1sJ8f7MvZAcgVYbw="></div>
  </div>
