<div class="bg-gray-100 dark:bg-gray-900 dark:text-white text-gray-600 h-screen flex overflow-hidden text-sm">
    
    
    <div class="flex-grow overflow-hidden h-full flex flex-col">

      
      <div class="flex-grow flex overflow-x-hidden">


        <div class="flex-grow bg-white dark:bg-gray-900 overflow-y-auto">
        <div>

          <div class="sm:px-7 sm:pt-7 px-4 pt-4 flex flex-col w-full border-b border-gray-200 bg-white dark:bg-gray-900 dark:text-white dark:border-gray-800 sticky top-0">
            <div class="flex w-full items-center">
              <div class="flex items-center text-3xl text-gray-900 dark:text-white">
 
                Feedback
                <br>
              </div>

            </div>
     
          </div>




          </div>
        </div>
      </div>
    </div>
  </div>