<form [formGroup]="students" (ngSubmit)="getData()">
    <label for="" class="form-label">Enter the name:</label>
    <input type="text" name="fname" formControlName="fname" class="form-control">
    <div class="alert alert-danger" *ngIf="students.get('fname').touched && students.get('fname').invalid">
        <div *ngIf="students.get('fname').errors.required">This fiels is required</div>
        <div *ngIf="students.get('fname').errors.pattern">fname is only character min-3 and max of 20</div>
    </div>

    <!-- // using the password -->
    <label for="" class="form-label">Enter the password:</label>
    <input type="password" name="password" formControlName="password" class="form-control">
    <div class="alert alert-danger" *ngIf="students.get('password').touched && students.get('password').invalid">
        <div *ngIf="students.get('password').errors.required">This fiels is required</div>
        <div *ngIf="students.get('password').errors.pattern">password minimum 8 to 16 character</div>
    </div>

    // using the email
    <label for="" class="form-label">Enter the password:</label>
    <input type="email" name="email" formControlName="email" class="form-control">
    <div class="alert alert-danger" *ngIf="students.get('email').touched && students.get('email').invalid">
        <div *ngIf="students.get('email').errors.required">This fiels is required</div>
        <div *ngIf="students.get('email').errors.pattern">email minimum 8 to 16 character</div>
    </div>

    <button type="submit" class="btn btn-primary mt-2" [disabled]="students.invalid">Submit</button>
</form>