<router-outlet></router-outlet>
<!-- <app-toast></app-toast> -->
<!-- <app-prodactadd></app-prodactadd> -->

<!-- <app-carosel></app-carosel> -->
<!-- <app-listproject></app-listproject> -->
<!-- <app-emailtest></app-emailtest> -->
<!-- <br><br><br><br><br><br><br><br><br><br>
<app-input></app-input> -->

<!-- Example usage in app.component.html -->
<!-- <app-toast type="success" message="Item moved successfully."></app-toast>
<app-toast type="danger" message="Item has been deleted."></app-toast>
<app-toast type="warning" message="Improve password difficulty."></app-toast> -->


<!-- <app-chatbot></app-chatbot> -->

