<div class="top">

</div>
<div><P>Store Background</P></div>



<div class="middle">
    
    <img src="/src/asserts/image/aple.jpg"
    alt="image" class="gsaplogo">
    <p>Welcome to [Store Name], your go-to destination for premium organic products! Founded in [Year] by [Founder's Name(s)], our journey began with a passion for promoting a healthier lifestyle and a commitment to sustainable practices. Inspired by the growing need for high-quality, organic goods, we set out to create a store where quality meets integrity.</p>
</div>




<div class="middle">
    <img src="/assets/gsap.svg" 
    alt="image" class="gsaplogo">
</div>
<div class="middle">
    <img src="/assets/gsap.svg" 
    alt="image" class="gsaplogo">
</div>
<div class="middle">
    <img src="/assets/gsap.svg" 
    alt="image" class="gsaplogo">
</div>
<div class="bottom">
    <img src="/assets/sub.svg" 
    alt="image" class="sublogo">
</div>
