<section class="container">
    <div class="category_container">
      <div class="content">
        <img src="https://media.istockphoto.com/id/518680059/photo/girl-with-apples.jpg?s=612x612&w=0&k=20&c=xNzT6mv0EEhxkmAXtyAvqBSulJqfPsXq4_NUH9qBu7Y=" class="professio_image" alt="Profession" />
        <img src="https://img.freepik.com/premium-photo/portrait-young-woman-picking-apples_1048944-29973547.jpg?ga=GA1.1.180586801.1726034222&semt=ais_hybrid" class="profile_image" alt="Profile" />
        <div class="profile_detail">
          <span></span>
        </div>
        <div class="wrapper">
          <div class="profile_quote">
            <p>At [Store Name], we proudly offer 100% organic products that are free from synthetic chemicals, pesticides, and GMOs.</p>
          </div>
        </div>
      </div>
      <div class="content">
        <img src="https://img.freepik.com/free-photo/vertical-photo-male-hand-holding-ripe-tomato_144627-78037.jpg" class="profession_image" alt="Profession" />
        <img src="https://img.freepik.com/premium-photo/tomatoes-greenhouse-generative-ai_446633-144782.jpg?size=626&ext=jpg" class="profile_image" alt="Profile"/>
        <div class="profile_detail">
          <span></span>
        </div>
        <div class="wrapper">
          <div class="profile_quote">
            <p>Our farm fresh selection brings you the finest produce, dairy, and meats straight from local farms to your table.</p>
          </div>
        </div>
      </div>
      <div class="content">
        <img src="https://img.freepik.com/free-photo/bottle-olive-oil-front-fresh-vegetables_114579-68657.jpg?ga=GA1.1.180586801.1726034222&semt=ais_hybrid" class="profession_image" alt="Profession" />
        <img src="https://img.freepik.com/free-photo/view-tank-container-water-storage_23-2151748270.jpg?ga=GA1.1.180586801.1726034222&semt=ais_hybrid" class="profile_image" alt="Profile"/>
        <div class="profile_detail">
          <span></span>
        </div>
        <div class="wrapper">
          <div class="profile_quote">
            <p>Discover the purity and quality of [Store Name]’s range of organic oils. Our collection includes 100% pure, cold-pressed oils that are free from synthetic additives and chemicals.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  