<!-- hover-effects.component.html -->
<div class="main">
    <div class="circle"></div>
    <div class="frames">
      <div class="frame">
        <span>Home</span>
        <span>Let's go<i class="ri-arrow-right-line"></i></span>
      </div>
      <div class="frame">
        <span>About</span>
        <span>let's go <i class="ri-arrow-right-line"></i></span>
      </div>
      <div class="frame">
        <span>Contact me</span>
        <span>lets go <i class="ri-arrow-right-line"></i></span>
      </div>
    </div>
  </div>
  