
<section class="card-list">
    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>I love the freshness and quality of the produce at this organic shop.</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix">Jeff Delaney</div>
          
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div> -->
    </article>



    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>The selection of organic goods here is fantastic, and I appreciate the commitment to sustainable practices.</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix"> Zheng Zhilong</div>
         
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
      </div> -->
    </article>




    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>Shopping at this organic store has completely changed my approach to healthy eating.</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix"> Francis Drake</div>
         
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
      </div> -->
    </article>

    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>I've tried many organic shops, but this one stands out for its exceptional quality and variety. </h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix">Edward Teach</div>
          
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
      </div> -->
    </article>


    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>This shop offers the best selection of organic products I've seen. </h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix">Olivia W</div>
          
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
      </div> -->
    </article>

    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>From the fresh vegetables to the unique organic products, everything is of the highest quality.</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix">Emma R</div>
          
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
      </div> -->
    </article>

    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>This shop makes healthy eating easy and enjoyable.</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix">William Kidd</div>
          
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
      </div> -->
    </article>
<!-- ========================================= -->
    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>All Products are fresh handpicke which is good for health.</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix">Emely Smith</div>
          
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div> -->
    </article>

    <!-- <article class="card">
      <header class="card-header"> -->
        <!-- <p>Sep 11th 2020</p> -->
        <!-- <h2>Fresh Vegetables and Fresh fruits that long lasts for a week.</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix">Jon Moxely</div>
          
        </div>
      </div> -->
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div> -->
    <!-- </article> -->
    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>Best quality Products.</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix">Joni Rodeiguez</div>
          
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div> -->
    </article>
    
    <article class="card">
      <header class="card-header">
        <!-- <p>Sep 11th 2020</p> -->
        <h2>fresh Products that makes the dish so tasty.</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="https://react.pixelstrap.com/cuba/static/media/7.525690a1.jpg" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix">E.liar</div>
          
        </div>
      </div>
      <!-- <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div> -->
    </article>

</section>