@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body, html {
  width: 100%;
  height: 100%;
  background: #111b29;
  font-family: 'Montserrat', sans-serif;
  font-size: 99px;
  text-align: center;
}

div {
  position: absolute;
}

main {
  position: fixed;
  background: #fff;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.scrollDist {
  width: 100%;
  height: 200%; /* Ensures there is enough scroll space */
}

/* Optional: Add styles for SVG and elements if needed */
svg {
  display: block;
  width: 100%;
  height: auto;
}

.arrow {
  transition: transform 0.3s ease;
}

text {
  font-family: 'Montserrat', sans-serif;
  font-size: inherit; /* Ensure the text size inherits from body font size */
  
}
