<!--  -->
<nav class="border-primary">
    <button class="btn bg-primary" type="button" routerLink="carbike">carbike</button>
    <button class="btn bg-primary" type="button" routerLink="rtf">rtf</button>
    <button class="btn bg-primary" type="button" routerLink="rtf">RTF</button>
    <button class="btn bg-primary" type="button" routerLink="deatils">empdetails</button>
    <button class="btn bg-primary" type="button" routerLink="angularform">ang-form</button>
    <button class="btn bg-primary" type="button" routerLink="breakfast">break fast</button>
    <button class="btn bg-primary" type="button" routerLink="persondata">Dash bord</button>
</nav>