
<nav>
<button type="button" routerLink="databinding" class="btn btn-primary btn-sm">databinding</button>{{" "}}
<button type="button" routerLink="directives" class="btn btn-primary btn-sm">directive</button>{{" "}}
<button type="button" routerLink="angform" class="btn btn-primary btn-sm">angForm</button>{{" "}}
<button type="button" routerLink="breakfast" class="btn btn-primary btn-sm">breakFast</button>{{" "}}
<button type="button" routerLink="empdetail" class="btn btn-primary btn-sm">EmpDetail</button>{{" "}}
<button type="button" routerLink="productdash" class="btn btn-outline-warning btn-sm">CRUD</button>{{" "}}
<button type="button" routerLink="angularmat" class="btn btn-outline-info btn-sm">AngularMaterial</button>{{" "}}

</nav>