
<!-- more importent navigation scroll -->
<!-- working -->
<!-- <app-gsap></app-gsap> -->



<!-- "workinh" -->
<!-- <app-slides></app-slides> -->

<!--  -->
<!-- <app-example></app-example> -->


<!-- "working 3d content" -->
<!-- <app-content></app-content> -->

<!--"partaly work" -->

<!-- worked -->
<!-- <app-words></app-words> -->


<!-- scroll and pop up working -->
<!-- <app-infinity></app-infinity>   -->

<!-- <"parallex workig" -->
<!-- <app-paralel></app-paralel> -->



<!-- style not working -->
<!-- <app-corasal></app-corasal> -->


<!-- <app-timeline></app-timeline> -->


<!-- mountain parallex -->

<!-- <app-mountain></app-mountain> -->



<!-- horizontal scroll  -->

<!-- <div class="top">

</div>
<div class="middle">
    <img src="/assets/gsap.svg" 
    alt="image" class="gsaplogo">
</div>
<div class="bottom">
    <img src="/assets/sub.svg" 
    alt="image" class="sublogo">
</div> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Your App Name</title>
  <base href="/">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
</head>
<body>
  <app-root></app-root>
</body>
</html> -->



<body>
  <div class="useless">
    <h1>Scroll Down to check it</h1>
  </div>
  <div class="content">
    <!-- <div class="text" >
      <h1>Forex</h1>
    </div> -->

    <div class="instruments_slide">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><h1>Forex</h1></div>
        <div class="swiper-slide"><h1>Metal</h1></div>
        <div class="swiper-slide"><h1>Index CFDs</h1></div>
        <div class="swiper-slide"><h1>Stock CFDs</h1></div>
      </div>
    </div>




    <div class="card_wrapper card_wrapper_1">
      <img src="https://picsum.photos/1000/1000" src="img-fluid" alt="" />
      
    </div>
    <div class="card_wrapper card_wrapper_2">
      <img src="https://picsum.photos/1000/1000" alt="" />
    </div>
    <div class="card_wrapper card_wrapper_3">
      <img src="https://picsum.photos/1000/1000" alt="" />
    </div>
    <div class="card_wrapper card_wrapper_4">
      <img src="https://picsum.photos/1000/1000" alt="" />
    </div>
    
  </div>
  <div class="useless">
    <h1>Scroll Up to check it</h1>
  </div>
</body>