<!-- <button aria-pressed="false" onClick="this.setAttribute('aria-pressed',this.getAttribute('aria-pressed') === 'true' ? 'false' : 'true');">Pause Animation</button> -->
<div class="errorbody">
<div class='marquees'>
	<section class='marquee' style='--char-count: 28'>
		<div class='marquee--inner'>
			<p>PAGE NOT FOUND</p>
			<p aria-hidden='true'>PAGE NOT FOUND</p>
			<p aria-hidden='true'>PAGE NOT FOUND</p>
			<p aria-hidden='true'>PAGE NOT FOUND</p>
			<p aria-hidden='true'>PAGE NOT FOUND</p>
						<p aria-hidden='true'>PAGE NOT FOUND</p>
		</div>
	</section>

	<div class='marquee' style='--char-count: 30'>
		<div class='marquee--inner'>
			<p>404 ERROR</p>
			<p aria-hidden='true'>404 ERROR</p>
			<p aria-hidden='true'>404 ERROR</p>
			<p aria-hidden='true'>404 ERROR</p>
			<p aria-hidden='true'>404 ERROR</p>
						<p aria-hidden='true'>404 ERROR</p>
		</div>
	</div>

	<section class='marquee' style='--char-count: 22'>
		<div class='marquee--inner'>
			<p>PAGE NOT FOUND</p>
			<p aria-hidden='true'>PAGE NOT FOUND</p>
			<p aria-hidden='true'>PAGE NOT FOUND</p>
			<p aria-hidden='true'>PAGE NOT FOUND</p>
			<p aria-hidden='true'>PAGE NOT FOUND</p>
						<p aria-hidden='true'>PAGE NOT FOUND</p>
		</div>
	</section>

	<section class='marquee' style='--char-count: 24'>
		<div class='marquee--inner'>
			<p>404 ERROR</p>
			<p aria-hidden='true'>404 ERROR</p>
			<p aria-hidden='true'>404 ERROR</p>
			<p aria-hidden='true'>404 ERROR</p>
			<p aria-hidden='true'>404 ERROR</p>
						<p aria-hidden='true'>404 ERROR</p>
		</div>
	</section>
</div>
</div>
