


{% extends "base.html" %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'App_Folder/post.css' %}"> {% endblock css %}
{% block title %}landing page{% endblock title %}
{% block content %}
<div class="container px-4 py-5" id="custom-cards">
    <h1 class="pb-2 border-bottom text-success">Introduction</h1>
  
  <div class="row row-cols-1 row-cols-lg-2 align-items-md-center g-4 py-5 d-flex container-fluid">
    <div class="col ">
    <h5 >Hello! My name is Basil Ahamed, and I am 22 years old. I have earned a Bachelor’s degree in Computer Science (BE) and have further distinguished myself with certifications in Certified Ethical Hacking (CEH), Python, and Cybersecurity. These credentials highlight not only my technical expertise but also my commitment to maintaining a high standard of professional excellence. My skills and accomplishments have been acknowledged through a notable rating, which reflects my dedication and proficiency in the field. I am enthusiastic about utilizing my background and qualifications to make a meaningful contribution and to continue advancing in my career.</h1>
    </div>
  
    
    <div class="col rounded-4 shadow-lg bg-image hover-zoom">
      <div class="bg-image hover-zoom text-bg-dark bg-dark">
        <img  src=" {% static "images\post.jpeg" %} " alt="" width="700px" height="400px" >
      </div>
  </div>
  </div>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom text-success" id="post">Latest Post</h2>
  </div>
  {% include "include/post.html" %}
   <div class="d-grid gap-2 col-1 mx-auto">
    <a href="{% url "all-post" %}"><button class="btn btn-primary" type="button">All Post</button></a>
  </div>  
  <div class="container px-4 py-5" id="custom-cards">
    <h1 class=" border-bottom text-success" id="about">Command</h1>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-center">
  <div class="form-container container center">
  <form action="" method="post" enctype="multipart/form-data" class="form-group">
    {% csrf_token %}<br>
    {{form}}<br><br>
    <br>  
    <button type="submit">command</button><br>
 
</form>
</div>  
</div>  

  
  {% comment %} <a href="{% url "command" %}"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{trash.slug}}">
   Feedbackform
  </button></a> {% endcomment %}
  
  <div class="container px-4 py-5" id="custom-cards">
    <h1 class=" border-bottom text-success" id="about">About</h1>
  </div>
  <p>Hello! My name is Basil Ahamed, and I am 22 years old. I have earned a Bachelor’s degree in Computer Science (BE) and have further distinguished myself with certifications in Certified Ethical Hacking (CEH), Python, and Cybersecurity. These credentials highlight not only my technical expertise but also my commitment to maintaining a high standard of professional excellence. My skills and accomplishments have been acknowledged through a notable rating, which reflects my dedication and proficiency in the field. I am enthusiastic about utilizing my background and qualifications to make a meaningful contribution and to continue advancing in my career.</p>
  
  

{% endblock content %}
{% comment %} main landing page {% endcomment %}