<h3 class="text-xl font-semibold mb-4">Order Details</h3>
<table class="order-table">
  <thead>
    <tr>
      <th>User</th>
      <th>Order ID</th>
      <th>Shipping ID</th>
      <th>Order Date</th>
      <th>Total Amount</th>
      <th>Product</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trash of data">
      <td>{{trash.user}}</td>
      <td>{{trash.id}}</td>
      <td>{{trash.shipping}}</td>
      <td>{{trash.order_date}}</td>
      <td>{{trash.total_price}}</td>
      <td>{{trash.product_ids}}</td>
    </tr>
  </tbody>
</table>
