@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Jersey+10&display=swap');
p{
    color: white;
}

.introduction{

    width: 700px;
    
}
b{
  font-family: "importent";
  font-weight: 400;
  font-style: normal;
  color: gold;
  display: inline-block;
}

h1
{
    font-family:"normas";
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size :34px;
}
p{
    color: white;
}

