 <!-- this is title card -->
 <div class="deader">
    <div class="betterwrapper">
      <h1 id="better" class="better">O</h1>
      <h1 id="better" class="better">u</h1>
      <h1 id="better" class="better">r</h1>&nbsp;&nbsp;
      <h1 id="better" class="better">C</h1>
      <h1 id="better" class="better">u</h1>
      <h1 id="better" class="better">s</h1>
      <h1 id="better" class="better">t</h1>
      <h1 id="better" class="better">o</h1>
      <h1 id="better" class="better">m</h1>
      <h1 id="better" class="better">e</h1>
      <h1 id="better" class="better">r</h1>&nbsp;&nbsp;
      <h1 id="better" class="better">R</h1>
      <h1 id="better" class="better">e</h1>
      <h1 id="better" class="better">v</h1>
      <h1 id="better" class="better">i</h1>
      <h1 id="better" class="better">e</h1>
      <h1 id="better" class="better">w</h1>
      <h1 id="better" class="better">s</h1>
      <h1 id="better" class="better">.</h1>
    </div>

