<div class="flex flex-col min-h-screen">

    <!-- Navigation Bar -->
    
  <app-navbar></app-navbar>

    <!-- Mobile Menu -->
    
  
    <!-- Main Content -->
    <!-- <main class="flex-grow"> -->
      <!-- Your main content goes here -->
      <app-carousel></app-carousel>
      <app-twelve></app-twelve>
      <app-ourlatestproducts></app-ourlatestproducts>
      <app-freshproducts></app-freshproducts>
      <app-homepagetitle></app-homepagetitle>
      <app-homepagecustomerreviews></app-homepagecustomerreviews>
      <div id="contact">
      <app-contactus></app-contactus>
    </div>
    <!-- </main> -->
  
    <!-- Footer -->
    <app-footer></app-footer>
  </div>