<section>
  <span>meet our</span>
  <h2>Team</h2>
  <h1>Develop the Organic Web Page !</h1>
  <div class="cards">
    <div class="card" style="background-color: url('/assets/img1.jpg');">
      <img src="/assets/img1.jpg" alt="Franklin Carlson">
      <img  alt="sandeep">
      <div class="card-content">
        <h3>Sandeep</h3>
        <!-- <p>UX Designer</p> -->
        <ul>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="https://i.imghippo.com/files/D7A8h1725997484.jpg" alt="Antonia Moore">
      <div class="card-content">
        <h3>Basil Ahamed</h3>
        <!-- <p>product designer</p> -->
        <ul>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="/assets/dharnesh.JPEG" alt="Travis Lynch">
      <div class="card-content">
        <h3>Dharnesh</h3>
        <!-- <p>web developer</p> -->
        <ul>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>