<!-- this is for navbar -->

<div class="container red topBotomBordersOut">
    <a>HOME</a>
    <a>ARTICLES</a>
    <a>PORTFOLIO</a>
    <a>ABOUT</a>
    <a>CONTACT</a>
  </div>


<app-corosal-gsap></app-corosal-gsap>

      
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus labore earum illo necessitatibus, adipisci eaque distinctio, ea, vel modi iste tenetur recusandae libero unde facilis deleniti ex quae. Sunt.</p>